[submodule "TeamCode/src/main/java/org/firstinspires/ftc/teamcode/ftc-opmodes"]
	path = TeamCode/src/main/java/org/firstinspires/ftc/teamcode/ftc-opmodes
	url = https://github.com/jay-potter/ftc-opmodes
